@import "@/../../../../styles/media-breakpoints.scss";

.test-form {
  .questions {
    margin: 20px;

    @include screen-sm {
      margin: 5px;
    }
  }

  .button-container {
    margin: 40px;
  }
}
